/*NAVBAR STYLING*/

#logoIMG {
    width:90px;
    margin-top:5px;
    margin-bottom:5px;
}

nav#navvy.navbar.navbar-static-top {
    margin-bottom:0px;
    background-color:#474E5D;
}

#navvy a {
    color:#FBFFFF;
}

button.navbar-toggle {
    border:1px solid #FBFFFF;
}

span.icon-bar {
    border: 1px solid #FBFFFF;
}

/*JUMBOTRON SECTION*/

.mainSec {
    background-image: url('Images/tuscany-villas-sant-anna.jpg');
    background-size: cover;
    margin-bottom: 0px;
    padding-bottom: 196px;/*when I put padding here, the image is not fully responsive when small; when i remove padding, the entire image does not show in large screen sizes???*/
}

h1#headerText {
    text-align:center;
    color:#FBFFFF;
    margin-top: 0px;
    margin-bottom: 0px;
}

p#headerSubText {
    text-align:center;
    color:#FBFFFF;
    margin-bottom: 0px;
}

.mapSec {
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

/*LOCATIONS SECTION*/

/*LOCATIONS HEADER*/

.locationHeader {
    background-color:#474E5D;
    padding-top: 30px;
}

h1#locationHeaderText {
    text-align:center;
    color:#FBFFFF;
    margin-top: 0px;
    margin-bottom: 10px;
}

p#locationSubText {
    text-align:center;
    color:#FBFFFF;
    margin-bottom: 0px;
    border-bottom-width: 30px;
    padding-bottom: 30px;
}

/*LOCATION 1*/

.row.location1 {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 125px;
    padding-right: 46.25px;
}

#location1Image {
    width: 400px;
}

.location1Button {
    background-color:#474E5D;
    border: solid;
    border-color:#969291;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    color:#FBFFFF;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 25px;
    padding-left: 25px;
}

.location1Button:hover {
    color:#FBFFFF;
}

/*LOCATION 2*/

.row.location2 {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 125px;
    padding-right: 46.25px;
    background-color:#474E5D;
}

#location2Image {
    width: 400px;
}

#location2Text {
    color:#FBFFFF;
}

.location2Button {
    background-color:#FBFFFF;
    border: solid;
    border-color:#969291;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    color:#474E5D;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 25px;
    padding-left: 25px;
}

.location2Button:hover {
    color:#474E5D;
}

/*LOCATION 3*/

.row.location3 {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 125px;
    padding-right: 46.25px;
}

#location3Image {
    width: 400px;
}

.location3Button {
    background-color:#474E5D;
    border: solid;
    border-color:#969291;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    color:#FBFFFF;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 25px;
    padding-left: 25px;
}

.location3Button:hover {
    color:#FBFFFF;
}

/*AMMENITIES SECTION*/

/*AMMENITIES HEADER*/

.ammenitiesHeader {
    background-color:#474E5D;
    padding-top: 30px;
}

h1#ammenitiesHeaderText {
    text-align:center;
    color:#FBFFFF;
    margin-top: 0px;
    margin-bottom: 10px;
}

p#ammenitiesSubText {
    text-align:center;
    color:#FBFFFF;
    margin-bottom: 0px;
    border-bottom-width: 30px;
    padding-bottom: 30px;
}

/*AMMENITIES LIST*/

/*AMMENITIES ROW 1*/

.row.ammenities1 {
    margin-left: 100px;
    margin-right: 100px;
}

.ammenities1Figure1 {
    background-image: url('Images/3b-348x348.jpg');
    background-size: cover;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 275px;
    margin-top: 40px;
    margin-bottom: 0px;
    text-align: center;
}

.ammenities1Button1 {
    background-color:#474E5D;
    border: solid;
    border-color:#969291;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    color:#FBFFFF;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 25px;
    padding-left: 25px;
}

.ammenities1Button1:hover {
    color:#FBFFFF;
}

.ammenities1Figure2 {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 40px;
    margin-bottom: 0px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
}

.ammenities1Button2 {
    background-color:#474E5D;
    border: solid;
    border-color:#969291;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    color:#FBFFFF;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 25px;
    padding-left: 25px;
}

.ammenities1Button2:hover {
    color:#FBFFFF;
}

.ammenities1Figure3 {
    background-image: url('Images/42-348x348.jpg');
    background-size: cover;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 275px;
    margin-top: 40px;
    margin-bottom: 0px;
    text-align: center;
}

.ammenities1Button3 {
    background-color:#474E5D;
    border: solid;
    border-color:#969291;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    color:#FBFFFF;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 25px;
    padding-left: 25px;
}

.ammenities1Button3:hover {
    color:#FBFFFF;
}

/*AMMENITIES ROW 2*/

.row.ammenities2 {
    margin-left: 100px;
    margin-right: 100px;
}

.ammenities2Figure1 {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.ammenities2Button1 {
    background-color:#474E5D;
    border: solid;
    border-color:#969291;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    color:#FBFFFF;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 25px;
    padding-left: 25px;
}

.ammenities2Button1:hover {
    color:#FBFFFF;
}

.ammenities2Figure2 {
    background-image: url('Images/314-348x348.jpg');
    background-size: cover;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 275px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.ammenities2Button2 {
    background-color:#474E5D;
    border: solid;
    border-color:#969291;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    color:#FBFFFF;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 25px;
    padding-left: 25px;
}

.ammenities2Button2:hover {
    color:#FBFFFF;
}

.ammenities2Figure3 {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
}

.ammenities2Button3 {
    background-color:#474E5D;
    border: solid;
    border-color:#969291;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    color:#FBFFFF;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 25px;
    padding-left: 25px;
}

.ammenities2Button3:hover {
    color:#FBFFFF;
}

/*AMMENITIES ROW 3*/

.row.ammenities3 {
    margin-left: 100px;
    margin-right: 100px;
}

.ammenities3Figure1 {
        background-image: url('Images/Villa-Rucellai-Toscani-2812-2-348x348.jpg');
        background-size: cover;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
        padding-bottom: 275px;
        margin-top: 0px;
        margin-bottom: 40px;
        text-align: center;
}

.ammenities3Button1 {
    background-color:#474E5D;
    border: solid;
    border-color:#969291;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    color:#FBFFFF;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 25px;
    padding-left: 25px;
}

.ammenities3Button1:hover {
    color:#FBFFFF;
}

.ammenities3Figure2 {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.ammenities3Button2 {
    background-color:#474E5D;
    border: solid;
    border-color:#969291;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    color:#FBFFFF;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 25px;
    padding-left: 25px;
}

3.ammenities3Button2:hover {
    color:#FBFFFF;
}

.ammenities3Figure3 {
    background-image: url('Images/Villa-Vanna-231-348x348.jpg');
    background-size: cover;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 275px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 40px;
}

.ammenities3Button3 {
    background-color:#474E5D;
    border: solid;
    border-color:#969291;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    color:#FBFFFF;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 25px;
    padding-left: 25px;
}

.ammenities3Button3:hover {
    color:#FBFFFF;
}


